header{
    .top_bar{
        width: 100%;
        background-color: #DAF2FF;
        height: 36px;
        padding-top: 6px;
        .left_bar{
            .b_txt{
                text-transform: uppercase;
                color: #004870;
                font-size: 14px;
            }
        }
        .right_bar{
            .info_bar{
                text-align: right;
                a{
                    text-transform: uppercase;
                    font-size: 14px;
                    color: $blue;
                    font-weight: 600;
                    margin-right: 10px;
                }
            }
        }
    }
    .main_header{
        padding-top: 20px;
        .logo{
            img{
                width: 100%;
                height: 100%;
                object-fit: none;
            }
        }
        .banner_top{
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .search_top{
            padding-top: 16px;
            .form_search_top{
                width: 100%;
                input{
                    border-radius: 0px;
                    position: relative;
                    height: 34px;
                }
                button{
                    position: absolute;
                    right: 15px;
                    top: 16px;
                    width: 40px;
                    height: 34px;
                    background: $do;
                    color: $trang;
                }
            }
            .regis_mail{
                margin-top: 20px;
                a{
                    color: $blue;
                    font-size: 13px;
                    margin-right: 10px;
                    text-transform: uppercase;
                    font-weight: 600;
                    i{
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px){
    .right_bar{
        .info_bar{
            display: none;
        }
    }
}