.detail_tour{
    margin-top: 30px;
    .breadcrumb_t{
        margin-bottom: 35px;
        text-transform: uppercase;
        a{
            font-size: 12px;
            color: #666;
            &:hover{
                color: $blue;
            }
            i{
                margin: 0 6px;
            }
        }
    }
    .tit_detail{
        margin-bottom: 30px;
        .title_tt{
            font-weight: bold;
            color: #114672;
            display: inline;
            font-size: 18px;
        }
        .cbg {
            display: block;
            background-color: #008cff;
            width: 90px;
            height: 7px;
            margin-top: 8px;
        }
    }
    .sticky{
        position: fixed;
        top: 0;
        width: 174px !important;
    }
    .left_t_detail{
        padding-right: 0px !important;
        .tour_price{
            .pricetext_dis{
                text-decoration: line-through;
            }
            .pricetext {
                color: #f60000;
                font-weight: bold;
                font-size: 20px;
                margin-left: 30px;
            }
            .pri_real{
                font-size: 18px;
                color: #f60000;
                font-weight: bold;
            }
        }
        .tour_code{
            color: #666;
            font-size: 12px;
        }
        .info_tour{
            font-size: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            table{
                width: 100%;
                margin-bottom: 0px;
                font-size: 12px;
                color: #000000a1;
                tbody{
                    tr{
                        td{
                            font-size: 14px;
                        padding:  3px 2px !important;
                        border: none;
                        }
                    }
                }
                >tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
                    background-color: #f9f9f9;
                }
            }
        }
        .tour_sp{
            width: 100%;
            padding-top: 10px;
            .hotlinetext{
                font-size: 12px;
                color: #333;
                text-transform: uppercase;
                font-weight: bold;
            }
            a{
                color: #f60000;
                font-size: 13px;
                font-weight: bold;
                margin-top: 5px;
                display: block;
                .name{
                    color: #333;
                }
            }
        }
        .book_tour_dt{
            margin-top: 20px;
            text-align: center;
            .tour_blank {
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

.content_tour{
    img{
        width: 100%;
        height: 100%;
    }
}

.noti_success{
    width: 100%;
    text-align: center;
    margin: 20px 0;
    p{
        margin-bottom: 0;
        color: #114672;
    }
}
article.post{
    width: 100%;
    display: inline-block;
    header{
        display: inline-block;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: dotted 1px silver;
        margin-bottom: 15px;
        width: 100%;
        h1{
            display: inline;
            font-family: 'Open Sans Condensed',Tahoma,Verdana;
            font-size: 18px;
            text-transform: uppercase;
            b{
                font-weight: bold;
            }
        }
        .update-time{
            padding-top: 8px;
            color: #666;
        }
    }
    .entry-content{
        display: grid;
        grid-template-columns: 70px  1fr;
        .content-brief{
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            grid-gap: 30px;
            margin-bottom: 20px;
            .img_detail{
                width: 250px;
                img{
                    width: 100%;
                    display: block;
                    height: auto;
                    max-width: 100%;
                }
            }
            .article-brief{
                overflow: hidden;
                overflow-wrap: break-word;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 1.5;
                margin-bottom: 0;
            }
        }

    }
}