.left-col{
  padding-left: 0;
  .article-panel{
    width: 100%;
    display: inline-block;
    .cate-caption{
      width: 100%;
      border-bottom: solid 1px silver;
      margin-top: 20px;
      padding-bottom: 8px;
      h1{
        display: inline;
        font-family: 'Open Sans Condensed',Tahoma;
        font-size: 16pt;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 7px solid #008cff;
        padding-bottom: 5px;
      }
      span{
        display: block;
        background-color: #008cff;
        width: 90px;
        height: 7px;
      }
    }
    .no_news{
      padding: 20px;
      text-align: center;
    }
    .row{
      margin: 0;
      margin-bottom: 20px;
      .latest-article{
        padding-left: 0;
        padding-top: 15px;
        article{
          width: 100%;
          display: grid;
          grid-gap: 8px;
          img{
            width: 100%;
            height: 250px;
            -o-object-fit: cover;
            -o-object-position: center center;
            object-position: center center;
            object-fit: cover;
          }
          .content_news{
            a.news_title{
              font-family: 'Open Sans Condensed',Tahoma,Verdana;
              color: #003867;
              font-size: 13pt;
              font-weight: bold;
              text-transform: uppercase;
              overflow: hidden;
              overflow-wrap: break-word;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              line-height: 1.5;
            }
            .datepost{
              font-size: 14px;
              color: #777777c7;
            }
            p{
              overflow: hidden;
              overflow-wrap: break-word;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              line-height: 1.5;
              margin-bottom: 0;
            }
          }
        }
      }
      .latest-relate{
        padding-right: 0;
        padding-top: 15px;
        article{
          width: 100%;
          display: grid;
          grid-template-columns: 0.6fr 1fr;
          grid-gap: 15px;
          margin-bottom: 15px;
          padding: 3px;
          border: solid 1px #f0f0f0;
          img{
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            -o-object-position: center center;
            object-position: center center;
            object-fit: cover;
          }
          .content_news{
            a.news_title{
              width: 100%;
              height: 42px;
              font-family: "Open Sans Condensed", Tahoma, Verdana;
              color: #003867;
              font-size: 11pt;
              text-transform: uppercase;
              font-weight: bold;
              overflow: hidden;
              overflow-wrap: break-word;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              line-height: 1.5;
            }
            .datepost{
              display: block;
              padding-top: 8px;
              padding-bottom: 8px;
              font-size: 8pt;
              color: #777777c7;
            }
            span.news_teaser{
              height: 54px;
              font-size: 9pt;
              color: #333;
              margin-bottom: 0;
              overflow: hidden;
              overflow-wrap: break-word;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              line-height: 1.5;
              p{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .postlist{
      .post-item{
        height: 400px;
        padding-right: 20px;
        padding-left: 0;
        article{
          width: 100%;
          display: inline-block;
          height: auto;
          img{
            width: 100%;
            height: 165px;
            -o-object-fit: cover;
            -o-object-position: top center;
            object-position: top center;
            object-fit: cover;
            padding-bottom: 8px
          }
          .content_news{
            a.news_title{
              font-family: 'Open Sans Condensed',Tahoma,Verdana;
              color: #003867;
              font-size: 11pt;
              font-weight: bold;
              text-transform: uppercase;
              overflow: hidden;
              overflow-wrap: break-word;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              line-height: 1.5;
              height: 42px;
            }
            .datepost{
              color: #777777c7;
              font-size: 13px;
              display: block;
              padding-top: 8px;
              padding-bottom: 8px;
            }
            span.news_teaser{
              overflow: hidden;
              overflow-wrap: break-word;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical;
              line-height: 1.5;
              height: 145px;
              p{
                margin: 0;
              }
            }

          }
        }
      }
    }
  }
}
.pagination{
  justify-content: center;
  a{
    color: #0a0a0a;
  }
}