.place{
    color: red;
}

.content_place{
    color: #005b9c;
    display: -webkit-box;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    max-height: 66px;
}
.img_old{
    margin-top: 10px;
}