footer{
    margin-top: 100px;
    .bottom_bg{
        width: 100%;
        height: 155px;
        img{
            width: 100%;
            height: 100%;
            object-fit: none;
        }
    }

    .bottom_list_place{
        background-color: #004075;
        padding: 30px 0;
        .info_rs{
            .tit_rs{
                color: #fff;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 10px;
            }
            .cbg{
                display: block;
                background-color: #008cff;
                width: 90px;
                height: 7px;
            }
            .list_rs{
                list-style: none;
                margin-top: 20px;
                li{
                    border-bottom: dotted 1px #000;
                    margin-bottom: 6px;
                    a{
                        color: #fff;
                        font-size: 13px;
                    }
                }
            }
            .tour_tn_bt{
                li{
                    width: 33.33%;
                    float: left;
                }
            }
        }
    }

    .info_company{
        padding: 20px 0 5px 0;
       
        .info_cp{
            .info_rs{
                color: $blue;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 10px;
            }
            .cbg{
                display: block;
                background-color: #008cff;
                width: 90px;
                height: 7px;
            }
            .ul_inf{
                margin-top: 10px;
                list-style: none;
                li{
                    font-size: 13px;
                }
            }
        }
        .logo_ft{
            margin-top: 20px;
        }
        .ct_info_r{
            font-size: 14px;
            margin-top: 20px;
        }
        .socical_ct{
            font-size: 30px;
            margin-top: 15px;
            a{
                margin-right: 5px;
                .fa-facebook-square{
                    color: #4267B2;
                }
                .fa-youtube-square{
                    color: #FF0000;
                }
                .fab.fa-instagram {
                    color: turquoise;
                }
            }
        }

        .bt_line{
            border-top: solid 2px #0184cc;
            .p_pt{
                width: 100%;
                margin-top: 10px;
                padding: 0 161px;
                text-align: center;
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 768px){
    footer{
        margin-top: 10px;
        .info_company .bt_line .p_pt{
            text-align: start;
            padding: 0 10px;
        }
    } 
}