.list_tour{
    margin-top: 30px;
    .breadcrumb_t{
        margin-bottom: 35px;
        text-transform: uppercase;
        a{
            font-size: 12px;
            color: #666;
            &:hover{
                color: $blue;
            }
            i{
                margin: 0 6px;
            }
        }
    }
    .des_tour{
        .title_des{
            font-weight: bold;
            color: #114672;
            display: inline;
            font-size: 16px;
        }
        .cbg {
            display: block;
            background-color: #008cff;
            width: 90px;
            height: 7px;
            margin-top: 8px;
        }
        .content_des{
            background: #f0f0f0;
            text-align: justify;
            width: 100%;
            display: inline-block;
            margin-bottom: 15px;
            padding: 15px;
            p{
                margin: 0 0 10px;
                font-size: 14px;
            }
        }
    }
    .main_list_tour{
        .filter_tour{
            display: flex;
            border: 1px solid silver;
            padding: 6px 8px;
            border-radius: 4px;
            font-size: 14px;
            .count_t{
                margin-right: 20px;
            }
            i{
                font-size: 12px;
            }
            .fil_list {
                width: 115px;
                font-size: 12px;
                height: 24px;
                padding: 0 0;
                margin-left: 16px;
            }
        }
        .all_tour_list{
            margin-top: 30px;
            .tour_new_cat{
                width: 100%;
                height: 100%;
                height: 130px;
                margin-bottom: 15px;
                display: flex;
                &:hover{
                    box-shadow: 1px 1px 4px #999;
                }
                .img_tour_al{
                    width: 30%;
                    img{
                        width: 100%;
                        height: 130px;
                        object-fit: cover;
                    }
                }
                .info_tour_al{
                    width: 70%;
                    padding: 4px 10px;
                    .title_al{
                        text-decoration: none;
                        display: -webkit-box;
                        font-size: 13px;
                        line-height: 1.5;
                        max-width: 100%;
                        max-height: 57px;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $blue;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 6px;
                    }
                    .date_item_al{
                        span{
                            display: inline-block;
                            font-size: 14px;
                            color: #333;
                        }
                        span.date_tour {
                            margin-right: 8px;
                        }
                    }
                    .price_tour_al{
                        margin-top: 10px;
                        .newprice{
                            font-size: 11pt;
                            color: #444;
                            font-weight: 600;
                        }
                        .prdis{
                            line-height: 20px;
                            display: inline-block;
                            padding-left: 5px;
                            span:first-child {
                                height: 0;
                                display: block;
                                border-style: solid;
                                border-width: 11px 11px 11px 0;
                                border-color: transparent #c60202 transparent transparent;
                                float: left;
                                font-family: "Open Sans Condensed",Tahoma;
                                font-size: 11pt;
                            }
                            span:last-child {
                                background-color: #f60000;
                                color: #fff;
                                line-height: 23px;
                                display: inline-block;
                                padding-right: 5px;
                                font-size: 9pt;
                                border-top-right-radius: 8px;
                                border-bottom-right-radius: 8px;
                            }
                        }
                    }
                }
            }
            table{
                thead{
                    background: #0184cc;
                    color: #fff;
                    font-size: 13px;
                    text-transform: uppercase;
                    .tour_h {
                        width: 300px;
                    }
                }
                tbody{
                    td{
                        font-size: 13px;
                    }
                    td.td_img{
                        padding: 0 0;
                        height: 110px;
                        .item_list_t{
                            display: flex;
                            width: 100%;
                            .img_list_t{
                                width: 170px;
                                height: 80px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                            .tit_list_t {
                                font-size: 13px;
                                font-weight: 600;
                                padding: 2px 6px;
                                color: #026196;
                                overflow: hidden;
                                width: 100%;
                            }
                        }
                        .code_t {
                            margin-top: 6px;
                            padding: 0 6px;
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                    td.pri_tour{
                        p{
                            margin: 0 0;
                            .oldprice{
                                text-decoration: line-through;
                                color: #b4b4b4;
                            }
                            span.new_pri_n{
                                color: #333;
                                font-weight: 600;
                                font-size: 14px;
                            }
                            span.new_pri{
                                font-weight: 600;
                                font-size: 14px;
                                color: red;
                            }
                        }
                    }
                    td.bok_tour{
                        a{
                            .btn_book{
                                outline: 0px;
                            }
                        }
                    }
                }
            }
        }
        .all_tour_list_mb{
            display: none;
            .tour_new_cat{
                width: 100%;
                height: 100%;
                height: 130px;
                margin-bottom: 15px;
                display: flex;
                &:hover{
                    box-shadow: 1px 1px 4px #999;
                }
                .img_tour_al{
                    width: 30%;
                    img{
                        width: 100%;
                        height: 130px;
                        object-fit: cover;
                    }
                }
                .info_tour_al{
                    width: 70%;
                    padding: 4px 10px;
                    .title_al{
                        text-decoration: none;
                        display: -webkit-box;
                        font-size: 13px;
                        line-height: 1.5;
                        max-width: 100%;
                        max-height: 57px;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $blue;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 6px;
                    }
                    .date_item_al{
                        span{
                            display: inline-block;
                            font-size: 14px;
                            color: #333;
                        }
                        span.date_tour {
                            margin-right: 8px;
                        }
                    }
                    .price_tour_al{
                        margin-top: 10px;
                        .newprice{
                            font-size: 11pt;
                            color: #444;
                            font-weight: 600;
                        }
                        .prdis{
                            line-height: 20px;
                            display: inline-block;
                            padding-left: 5px;
                            span:first-child {
                                height: 0;
                                display: block;
                                border-style: solid;
                                border-width: 11px 11px 11px 0;
                                border-color: transparent #c60202 transparent transparent;
                                float: left;
                                font-family: "Open Sans Condensed",Tahoma;
                                font-size: 11pt;
                            }
                            span:last-child {
                                background-color: #f60000;
                                color: #fff;
                                line-height: 23px;
                                display: inline-block;
                                padding-right: 5px;
                                font-size: 9pt;
                                border-top-right-radius: 8px;
                                border-bottom-right-radius: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.right_menu{
    width: 100%;
    background-color: #eee;
    padding: 8px;
    .tit_menu{
        width: 100%;
        display: block;
        background-color: #003867;
        padding: 8px 0 8px 5px;
        span{
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .list_right_menu{
        list-style: none;
        display: inline-block;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 8px;
        li{
            width: 100%;
            position: relative;
            border-bottom: solid 1px silver;
            a{
                color: #0077b5;
                font-size: 10.8pt;
                text-transform: uppercase;
                padding-left: 3px;
                width: 100%;
                display: inline-block;
                padding-top: 6px;
                padding-bottom: 6px;
                position: relative;
                font-weight: bold;
            }
        }
    }
}

.tour_seen{
    margin-top: 20px;
    width: 100%;
    .tit_menu{
        width: 100%;
        display: block;
        background-color: #003867;
        padding: 8px 0 8px 5px;
        span{
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .tour-item-daxem {
        width: 100%;
        display: inline-block;
        margin-top: 15px;
        border: solid 1px #f0f0f0;
        &:hover{
            box-shadow: 1px 0 3px #999;
        }
        .tour-viewed{
            padding: 4px;
            a {
                display: flex;
                img {
                    width: 45%;
                    float: left;
                    height: 100px;
                    -o-object-fit: cover;
                    -o-object-position: center center;
                    object-position: center center;
                    object-fit: cover;
                    margin-right: 8px;
                }
                span {
                    font-family: 'Open Sans Condensed',sans-serif;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #004870;
                    font-size: 12px;
                }
            }
            .schedule {
                font-family: 'Open Sans Condensed',Tahoma;
                font-size: 11pt;
                color: #333;
                padding-top: 5px;
                text-align: center;
                width: 100%;
                display: inline-block;
                padding-left: 8px;
                padding-bottom: 8px;
                text-align: center;
                span:first-child {
                    display: inline-block;
                    line-height: 20px;
                }
                .khoihanh{
                    display: inline-block;
                }
                .daysfix {
                    display: inline-block;
                    line-height: 20px;
                }
            }
            .tour-price {
                text-align: center;
                display: block;
                width: 100%;
                .oldprice{
                    font-weight: bold;
                }
                .prtext {
                    font-size: 13px;
                }
                .prdis{
                    line-height: 20px;
                    display: inline-block;
                    padding-left: 5px;
                    span:first-child {
                        height: 0;
                        display: block;
                        border-style: solid;
                        border-width: 11px 11px 11px 0;
                        border-color: transparent #c60202 transparent transparent;
                        float: left;
                        font-family: "Open Sans Condensed",Tahoma;
                        font-size: 11pt;
                    }
                    span:last-child {
                        background-color: #f60000;
                        color: #fff;
                        line-height: 23px;
                        display: inline-block;
                        padding-right: 5px;
                        font-size: 9pt;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }
                }
            }
        } 
    }
}


@media (max-width: 768px){
    .all_tour_list table{
        display: none !important;
    }
    .all_tour_list_mb{
        display: block !important;
    } 
    .list_tour .main_list_tour .all_tour_list_mb .tour_new_cat .info_tour_al .title_al{
        -webkit-line-clamp: 2 !important;
    }
}