.title_t {
  color: #005b9c;
  display: -webkit-box;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 75px;
}

.modal-dialog.modal_info {
  width: 1000px !important;
}

.modal-dialog.modal_info .modal-body .header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal-dialog.modal_info .modal-body .header_body .img_tour img {
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-dialog.modal_info .modal-body .header_body .info_tour {
  padding: 0 10px;
}

.modal-dialog.modal_info .modal-body .header_body .info_tour .price_dis span {
  color: red;
}

.modal-dialog.modal_info .modal-body .header_body .info_tour .ad_tour {
  border: 1px solid #ff9797;
  padding: 4px;
}

.modal-dialog.modal_info .modal-body .des_body .title_tour_cat {
  margin-bottom: 10px;
}

.modal-dialog.modal_info .modal-body .des_body .main_tour {
  border: 1px solid #ddd;
  padding: 5px;
}

.modal-dialog.modal_info .modal-body .des_body img {
  width: 100%;
}
/*# sourceMappingURL=tour.css.map */