
.title_t{
    color: #005b9c;
    display: -webkit-box;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 75px;
}
.modal-dialog.modal_info{
    width: 1000px !important;
    .modal-body{
        .header_body{
            display: flex;
            justify-content: space-evenly;
            .img_tour{
                img{
                    object-fit: cover;
                }
            }
            .info_tour{
                padding: 0 10px;
                .price_dis{
                    span{
                        color: red;
                    }
                }
                .ad_tour{
                    border: 1px solid #ff9797;
                    padding: 4px;
                }
            }
        }
        .des_body{
            .title_tour_cat{
                margin-bottom: 10px;
            }
            .main_tour{
                border: 1px solid #ddd;
                padding: 5px;
            }
            img{
                width: 100%;
            }
        }
        
    }
}