

.slide_banner_home{
    width: 100%;
    height: 430px;
    .single-item{
        width: 100%;
        height: 100%;
        .item{
            img{
                width: 100%;
                height: 430px;
                object-fit: fill;
            }
        }
    }
}

main.home{
    .hot_tour{
        margin-top: 20px;
        .hot_caption{
            position: relative;
            text-align: center;
            min-height: 78px;
            .line_cap{
                width: 80%;
                border-bottom: solid 1px #114672;
                position: absolute;
                margin-top: 20px;
                left: 10%;
            }
            .txt_cap{
                position: absolute;
                background-color: #fff;
                left: 40%;
                padding-left: 50px;
                padding-right: 50px;
                span:first-child {
                    display: block;
                    color: #333;
                    font-style: italic;
                    font-size: 18px;
                }
                span:last-child {
                    display: inline-block;
                    color: #fc0000;
                    font-family: 'Open Sans Condensed',Tahoma;
                    font-weight: bold;
                    font-size: 20px;
                    text-transform: uppercase;
                    border-bottom: solid 3px #fc0000;
                    text-align: center;
                }
            }
        }
        .slide_hot_tour{
            .owl-nav {
                text-align: center;
                font-size: 50px;
                button:focus {
                    outline: 0px dotted;
                    outline: 0px auto -webkit-focus-ring-color;
                }
                button.owl-prev {
                    position: absolute;
                    left: -2.5%;
                    top: 33%;
                }
                button.owl-next {
                    position: absolute;
                    right: -2.5%;
                    top: 33%;
                }
            }
            .item{
                background-color: #f9f9f9;
                box-shadow: 0 0 3px #888;
                border: solid 1px #d0d0d0;
                position: relative;
                &:hover{
                    box-shadow: 1px 1px 9px #666;
                }
               
                .img_item{
                    height: 142px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .distext{
                        position: absolute;
                        bottom: 0;
                        background-color: #2980b9;
                        width: 50%;
                        height: 26px;
                        display: block;
                        border-top-right-radius: 30px;
                        color: #fff;
                        line-height: 25px;
                        text-indent: 8px;
                        z-index: 100;
                        font-size: 13px;
                    }
                }
                .info_item{
                    padding: 5px;
                    .title_item{
                        text-decoration: none;
                        display: -webkit-box;
                        font-size: 13px;
                        line-height: 1.5;
                        max-width: 100%;
                        height: 40px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $blue;
                        font-weight: 600;
                        text-transform: uppercase;
                        border-bottom: solid 1px #e0e0e0;
                        padding: 0 6px;
                    }
                    .date_item{
                        padding: 6px;
                        span{
                            display: inline-block;
                            font-size: 12px;
                        }
                        span.date_tour {
                            margin-right: 8px;
                        }
                    }
                    .price_tour{
                        padding: 8px 10px;
                        .oldprice{
                            font-size: 12px;
                            font-weight: 600;
                            color: #6b6b6b;
                        }
                        .newprice{
                            color: #fc0000;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    
    .all_tour{
        margin-bottom: 30px;
        .tx_tour{
            border-bottom: solid 2px #114672;
            margin-bottom: 15px;
            .cap_tn_tour{
                display: inline-block;
                background-color: #114672;
                padding-left: 20px;
                padding-right: 35px;
                padding-top: 2px;
                padding-bottom: 4px;
                border-top-left-radius: 90px;
                border-top-right-radius: 90px;
                margin-left: 8px;
                h3{
                    display: inline;
                    font-weight: bold;
                    text-transform: uppercase;
                    a{
                        font-size: 16px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        .main_all_tour{
            width: 100%;
            .tour_new{
                width: 100%;
                height: 100%;
                height: 130px;
                margin-bottom: 15px;
                display: flex;
                .img_tour_al{
                    width: 30%;
                    img{
                        width: 100%;
                        height: 130px;
                        object-fit: cover;
                    }
                }
                .info_tour_al{
                    width: 70%;
                    padding: 0 10px;
                    .title_al{
                        text-decoration: none;
                        display: -webkit-box;
                        font-size: 13px;
                        line-height: 1.5;
                        max-width: 100%;
                        max-height: 57px;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $blue;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 6px;
                    }
                    .date_item_al{
                        span{
                            display: inline-block;
                            font-size: 14px;
                            color: #333;
                        }
                        span.date_tour {
                            margin-right: 8px;
                        }
                    }
                    .price_tour_al{
                        margin-top: 10px;
                        .newprice{
                            font-size: 11pt;
                            color: #444;
                            font-weight: 600;
                        }
                        .prdis{
                            line-height: 20px;
                            display: inline-block;
                            padding-left: 5px;
                            span:first-child {
                                height: 0;
                                display: block;
                                border-style: solid;
                                border-width: 11px 11px 11px 0;
                                border-color: transparent #c60202 transparent transparent;
                                float: left;
                                font-family: "Open Sans Condensed",Tahoma;
                                font-size: 11pt;
                            }
                            span:last-child {
                                background-color: #f60000;
                                color: #fff;
                                line-height: 23px;
                                display: inline-block;
                                padding-right: 5px;
                                font-size: 9pt;
                                border-top-right-radius: 8px;
                                border-bottom-right-radius: 8px;
                            }
                        }
                    }
                }
            }
        }
        .more_tour{
            text-align: center;
            a{
                color: #004870;
                display: inline-block;
                border-bottom: solid 1px #014075;
                text-decoration: none;
                font-size: 11pt;
                font-weight: bold;
            }
        }
    }

    .banner_bw_home{
        margin-bottom: 30px;
        .img_bn_bw{
            width: 100%;
            height: 250px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .news_even{
        .news_left{
            .cap_news{
                border-bottom: solid 1px silver;
                margin-bottom: 10px;
                h5{
                    color: #114672;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 600;
                    display: block;
                    a{
                        color: #114672;
                    }
                }
                .cbg{
                    display: block;
                    background-color: #008cff;
                    width: 90px;
                    height: 7px;
                }
            }
            .main_item_news{
                .img_item_news{
                    width: 100%;
                    height: 350px;  
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .txt_item_news{
                    padding: 10px;
                    h5{
                        color: #114672;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 600;
                        display: block;
                        a{
                            color: #114672;
                        }
                    }
                    .date_news{
                        font-size: 12px;
                        i{
                            margin-right: 6px;
                        }
                    }
                    .content_txt{
                        font-style: italic;
                        font-size: 14px;
                        display: -webkit-box;
                        max-width: 100%;
                        max-height: 62px;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            .news_more{
                .news_b{
                    width: 100%;
                    height: 65px;
                    margin-bottom: 10px;
                    a{
                        display: flex;
                        img{
                            width: 40%;
                            height: 65px;
                            object-fit: cover;
                        }
                        span{
                            width: 70%;
                            padding: 0 4px;
                            font-size: 14px;
                            display: -webkit-box;
                            max-width: 100%;
                            max-height: 62px;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: $blue;
                        }
                    }
                    
                }
                .news_c{
                    width: 100%;
                    height: 80px;
                    margin-bottom: 10px;
                    a{
                        img{
                            width: 100%;
                            height: 80px;
                            object-fit: cover;
                        }
                        span{
                            width: 70%;
                            padding: 4px 0px;
                            font-size: 14px;
                            display: -webkit-box;
                            max-width: 100%;
                            max-height: 62px;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: $blue;
                        }
                    }
                    
                }
            }
        }
    }

   
}


@media (max-width: 768px){
    .slide_banner_home{
        height: 200px;
        .single-item{
            .item{
                img{
                    height: 200px;
                }
            }
        }
    }
    main.home .hot_tour .hot_caption .txt_cap{
        left: 18%;
    }
    main.home .hot_tour .slide_hot_tour .owl-nav{
        display: none;
    }
    main.home .all_tour .more_tour{
        margin: 20px 0;
    }
    main.home .news_even .news_left .news_more .news_c{
        width: 49%;
        height: 145px;
    }
    main.home .banner_bw_home .img_bn_bw{
        margin-bottom: 10px;
    }
    .content_tour {
        width: 100%;
        padding: 0 10px;
    }
    .list_tour .main_list_tour .all_tour_list .tour_new_cat .info_tour_al .title_al{
        -webkit-line-clamp: 2 !important;
    }
}