.bookdetail{
    margin: 0 6px;
    .div_order {
        background: #f2f2f2;
        width: 100%;
        display: inline-block;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .tit_order {
            display: inline-block;
            font-size: 15px;
            font-family: 'Open Sans Condensed',sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            color: #c50000;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    .table-bordered{
        border: 1px solid #ddd;
        margin-bottom: 0px;
        tr{
            td{
                font-size: 12px;
                padding: 0.4rem 0.75rem;
                text-align: left;
            }
        }
    }
    .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }
}