.menu{
    .main_menu{
        margin-top: 20px;
        height: 92px!important;
        background-color: #3498db;
        ul.nav_bar{
            list-style: none;
            display: flex;
            margin-bottom: 0;
            li.menu_p{
                padding: 0 10px;
                position: relative;
                &:hover{
                    background-color: $blue;
                    ul.menu_child{
                        display: block;
                    }
                }
                .home_item{
                    font-size: 30px;
                    line-height: 1.8;
                    i{
                        font-size: 30px;
                    }
                }
                a{
                    color: #fff;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: 3.5;
                    text-decoration: none;
                    i.fas.fa-caret-down{
                        font-size: 13px;
                        margin-left: 10px;
                    }
                }
            }
            ul.menu_child{
                display: none;
                position: absolute;
                display: none;
                left: 0;
                padding: 0 0;
                z-index: 999;
                background-color: #f5f5f5;
                width: 550px;
                -webkit-transition: .1s ease all;
                -o-transition: .1s ease all;
                transition: .1s ease all;
                -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
                li{
                    width: 33.33%;
                    float: left;
                    list-style: none;
                    padding: 0 6px;
                    border-bottom: 1px solid #d0d0d0;
                    &:hover{
                        background-color: $blue;
                        a{
                            color: #fff;
                        }
                    }
                    a{
                        color: #666;
                        font-size: 12px;
                        line-height: 2.5;
                    }
                }
            }
        }
        .filter_tour{
            display: flex;
            background-color: #114672;
            box-shadow: 0 5px 10px #666;
            z-index: 900;
            .fil_cap{
                background-color: #ec2c00;
                height: 38px;
                float: left;
                width: 30%;
                text-align: right;
                span{
                    display: inline-block;
                    color: #000;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: right;
                    line-height: 35px;
                    font-size: 14px;
                    padding-right: 15px;
                }
            }
            .triangle{
                width: 0;
                border-top: 18px solid transparent;
                border-left: 18px solid #ec2c00;
                border-bottom: 18px solid transparent;
                float: left;
            }
            .fil_main{
                padding-top: 6px;
                padding-left: 12px;
                .form_filter{
                    display: flex;
                    color: $trang;
                    height: 100%;
                    .form-check{
                        .form-check-label{
                            font-size: 12px;
                            margin-right: 12px;
                            .form-check-input{
                                margin-top: 0.15rem;
                            }
                        }
                    }
                    .form-control{
                        width: 150px;
                        height: 28px;
                        background-color: #004870;
                        color: #fff;
                        font-size: 12px;
                        padding: .3rem .75rem;
                    }
                    .form_one{
                        margin-right: 20px;
                    }
                    .form_two{
                        width: 100px;
                    }
                    .btn_submit{
                        background-color: #ec2c00;
                        color: $trang;
                        text-transform: uppercase;
                        position: relative;
                        margin-left: 14px;
                        padding-left: 32px;
                        padding-right: 10px;
                        cursor: pointer;
                        .trian_left{
                            top: 0;
                            left: 0px;
                            width: 0;
                            height: 0;
                            border-top: 16px solid transparent;
                            border-left: 20px solid #114672;
                            border-bottom: 15px solid transparent;
                            position: absolute;
                            z-index: 991;
                        }
                    }
                    .trian_right{
                        width: 0;
                        border-top: 16px solid transparent;
                        border-left: 22px solid #ec2c00;
                        border-bottom: 16px solid transparent;
                        float: left;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .menu{
        display: none;
    }
}