$blue: #004870;
$do: #ff4445;
$vang:#e8b909;
$trang: #fff;
$den: #000;

* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    color: #333;
}

@import "../scss_header/header";
@import "../scss_menu/menu";
@import "../scss_home/home";
@import "../scss_news/list_news";
@import "../scss_list_tour/list_tour";
@import "../scss_detail/detail";
@import "../scss_book/book";
@import "../scss_search/search";
@import "../scss_footer/footer";
