.book_tour{
    margin-top: 30px;
    .breadcrumb_t{
        margin-bottom: 35px;
        text-transform: uppercase;
        a{
            font-size: 12px;
            color: #666;
            &:hover{
                color: $blue;
            }
            i{
                margin: 0 6px;
            }
        }
    }
    .tit_detail{
        .title_tt{
            font-weight: bold;
            color: #114672;
            display: inline;
            font-size: 18px;
        }
        .cbg {
            display: block;
            background-color: #008cff;
            width: 90px;
            height: 7px;
            margin-top: 8px;
        }
    }
    .bg_panel{
        background: #f0f0f0;
        text-align: justify;
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
        padding: 15px;
    }
    .stepwizard{
        display: table;
        width: 100%;
        position: relative;
        margin-top: 0%;
        .stepwizard_row{
            display: table-cell;
            position: relative;
            &:before {
                top: 14px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background-color: #ccc;
                z-index: -1;
            }
            .btn-circle-check{
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 6px 0;
                font-size: 12px;
                line-height: 1.428571429;
                border-radius: 15px;
                margin-left: 45%;
            }
            .btn-circle{
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 6px 0;
                font-size: 12px;
                line-height: 1.428571429;
                border-radius: 15px;
                margin-left: 45%;
                background-color: #e4e4e4;
                border-color: #c7c7c7;
            }
            .check_bt{
                color: #428bca;
                font-size: 25px;
            }
            p{
                margin: 0 0 10px;
                text-align: center;
            }
        }
    }
    .book_tour_img{
        border: 1px solid #ddd;
        padding: 5px;
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    .table-bordered{
        border: 1px solid #ddd;
        margin-bottom: 0px;
        tr{
            td{
                font-size: 12px;
                padding: 0.4rem 0.75rem;
                text-align: left;
            }
        }
    }
    .order_tbl_price{
        margin-top: 30px;
        margin-bottom: 20px;
        .tt_order{
            text-align: center;
            color: #c50000;
            font-weight: 600;
            margin-bottom: 5px;
            font-size: 16px;
        }
        .table_single{
            margin-top: 20px;
        }
        .cofrm{
            .div_order {
                background: #f2f2f2;
                width: 100%;
                display: inline-block;
                margin-top: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
                .text-center {
                    text-align: center;
                    .tit_order {
                        display: inline-block;
                        font-size: 16px;
                        font-family: 'Open Sans Condensed',sans-serif;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: #c50000;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                }
                .form_order{
                    label {
                        display: inline-block;
                        margin-bottom: 5px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
}

.div_order {
    background: #f2f2f2;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    .tit_order {
        display: inline-block;
        font-size: 15px;
        font-family: 'Open Sans Condensed',sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: #c50000;
        text-align: center;
        margin-bottom: 15px;
    }
}

.tit_tt_khachhang_coban {
    font-size: 14px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid firebrick;
    color: firebrick;
    font-weight: bold;
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.nd_giatourcoban {
    width: 100%;
    float: left;
    font-size: 12px;
    padding-bottom: 10px;
    .col-md-3,.col-md-1,.col-md-2{
        padding-right: 0px !important;
    }
    .form-control{
        padding: .375rem 6px;
        font-size: 12px;
    }
}


.div_next {
    background: #f2f2f2;
    width: 100%;
    margin-top: 10px;
    height: auto;
    display: inline-block;
    #tieptheo{
        height: 45px;
        font-size: 15px;
        text-transform: uppercase;
        float: right;
        font-weight: bold;
        background-color: #0095da;
        color: #fff;
        border: none;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.dieukhoangiaodich_order {
    height: 250px;
    overflow: auto;
    padding: 15px;
    ul{
        li{
            font-weight: bold;
            list-style: none;
            font-size: 14px;
        }
    }
}

.div_next {
    background: #f2f2f2;
    width: 100%;
    margin-top: 10px;
    height: auto;
    display: inline-block;
    #bt_thanhtoan {
        height: 45px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        float: right;
        font-weight: bold;
        background-color: #0095da;
        color: #fff;
        border: none;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.tttienmat{
    padding-top: 15px;
    list-style: none;
    >li{
        list-style: none;
        margin-bottom: 15px;
    }
}
.vp_cn_order{
    padding: 0 15px;
    >li{
        font-size: 13px;
        font-weight: 600;
        >ul{
            li{
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}